@use 'settings/grid';
.c-aside {
    background-color: rgb(30, 30, 45);
    width: 16rem;
    color: white;
    flex-shrink: 0;
    &__content {
        padding: grid.$gap-large;
    }
}

.c-side {
    &__link-text {
        font-size: 0.75rem;
        margin-bottom: 0.5rem;
    }
    &__button-arrow {
        display: inline-flex;
        margin-left: auto;
    }
    &__link {
        list-style-type: none;
        opacity: 0.5;
        color: white;
        text-decoration: none;
        font-size: 0.85rem;
        background-color: transparent;
        &:hover {
            opacity: 1;
        }
        &--dropdown {
            margin-left: 0.75rem;
            list-style-type: circle;
        }
    }
    &__item {
        list-style-type: none;
        margin-bottom: 0.75rem;
        opacity: 0.5;
        display: flex;
        align-items: center;
        width: 100%;
        &:hover {
            opacity: 1;
        }
        &--dropdown {
            margin-left: 0.75rem;
            list-style-type: circle;
        }
    }
}

.c-side {
    &__dropdown-link {
        align-items: center;
        display: flex;
    }
    &__dropdown-menu {
        display: flex;
        flex-direction: column;
        list-style: circle;
        padding-left: 2rem;
        padding-top: 0.5rem;
        position: relative;
    }
}

//focus, active??
.c-side__item .c-side__button-arrow:hover {
    transform: rotateZ(90deg);
}

.c-side__item .c-side__button-arrow {
    transition: all 0.5s ease;
}