.c-avatar {
    height: 40px;
    width: 40px;
    &__pic {
        height: 100%;
    }
    &--circle {
        border-radius: 50%;
        border: 2px solid white;
        object-fit: cover;
    }
    &--letter {
        background-color: pink;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: red;
    }
}