.c-avatars {
  display: flex;
  padding-left: 2rem;
  height: 3rem;
  &--square {
    border-radius: 5px;
    padding-left: 0rem;
  }
  &__pic {
    margin-left: -1em;
    border-radius: 50%;
    border: 3px solid white;
    height: auto;
    &:hover {
      z-index: 1;
    }
  }
}
