.c-badges {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    &>.c-badge {
        margin-right: 1rem;
    }
}

.c-badge {
    display: flex;
    flex-direction: column;
    padding: 0.6rem;
    padding-right: 2rem;
    border: dashed 1.5px grey;
    border-radius: 5px;
    text-align: left;
    &__description {
        font-weight: 500;
        color: grey;
        margin: 0;
        font-size: 0.9rem;
        display: block;
    }
    &__title {
        font-weight: 700;
        color: black;
        display: block;
        margin: 0;
        font-size: 0.9rem;
    }
}