.c-bar {
  display: flex;
  height: 0.3rem;
  width: 100%;
  background-color: rgb(199, 196, 196);
  border: 1px solid white;
  border-radius: 8px;
  margin-bottom: 1rem;
  &__background {
    background-color: rgb(0, 158, 247);
    height: auto;
    border-radius: 8px;
    @for $i from 0 through 10 {
      &--#{$i * 10} {
        width: $i * 10%;
      }
    }
  }
}
