.c-button {
    padding: 0.6rem 1.6rem;
    background-color: rgb(0, 158, 247);
    color: white;
    font-size: 0.9rem;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
    &:hover {
        background-color: rgb(0, 142, 224);
    }
    &--light {
        background-color: rgb(228, 247, 255);
        color: rgb(40, 154, 247);
        &:hover {
            background-color: rgb(40, 154, 247);
            color: white;
            transition: 0.3s;
        }
    }
    &--grey {
        background-color: rgb(238, 238, 238);
        color: rgb(119, 119, 119);
        &:hover {
            background-color: rgb(214, 214, 214);
            color: white;
            transition: 0.3s;
        }
    }
}

.c-button:not(:last-child) {
    margin-right: 0.5rem;
}