.c-card {
  box-sizing: border-box;
  padding: 1.5em;
  background-color: white;
  &__top {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  &__description {
    font-weight: 500;
    color: grey;
    margin-bottom: 1rem;
    font-size: 1rem;
    display: block;
  }
  &__title {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.2em;
    font-weight: bold;
  }
}
