.c-checkbox {
    appearance: none;
    background-color: rgb(228, 228, 228);
    margin: 0;
    font: inherit;
    color: grey;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 5px;
    transform: translateY(-0.075em);
    display: grid;
    align-self: center;
    place-content: center;
    flex-shrink: 0;
    &--circle {
        border-radius: 50%;
    }
}

.c-checkbox::before {
    content: '';
    height: 0.55em;
    width: 0.55em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: white;
}

.c-checkbox:checked {
    background-color: rgb(40, 154, 247);
    animation-name: scale;
    animation-duration: 350ms;
}

.c-checkbox:checked::before {
    transform: scale(1);
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.175);
    }
    100% {
        transform: scale(1);
    }
}