.c-data-table {
    align-items: center;
    border-collapse: collapse;
    display: grid;
    flex-grow: 1;
    grid-template-columns: auto;
    min-width: 100%;
    width: auto;
    &--user-list {
        grid-template-columns: min-content //checkbox
        auto // user
        min-content // role
        max-content // last login
        max-content // two-step
        max-content // joined date
        max-content; // actions
    }
    &--product-list {
        grid-template-columns: min-content // checkbox
        min-content // ID
        min-content // photo
        auto // title
        max-content // code
        max-content // EAN
        max-content // availability
        max-content // price
        max-content // action
        ;
    }
    &__avatar {
        width: 4.5rem;
        height: 2.5rem;
        object-fit: contain;
    }
}

.c-data-table__head {
    display: contents;
    min-width: 100%;
    background-color: #f1f1f169;
}

.c-data-table__body,
.c-data-table__row {
    display: contents;
    min-width: 100%;
    border-top: 1px dashed black;
}

.c-data-table__body-value {
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0;
    &--xsmall-font {
        font-size: 80%;
        color: black;
        font-weight: 500;
        padding: 0rem;
    }
}

.c-data-table__body-value:not(:last-child) {
    margin-bottom: 0.5rem;
}

.c-data-table__body-cell {
    align-items: center;
    align-self: flex-start;
    color: rgb(138, 142, 156);
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    font-weight: 500;
    height: 100%;
    padding: 1rem 0.7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    margin-bottom: 0rem;
    overflow-wrap: break-word;
    &--checkbox-center {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    &--small-font {
        font-size: 90%;
        font-weight: 400;
    }
    &--xsmall-font {
        font-size: 80%;
        color: black;
        font-weight: 500;
        padding: 0rem;
        padding-top: 0.5rem;
    }
    &--0-pad {
        padding: 1rem 0rem;
    }
}

.c-data-table__head-title {
    align-items: center;
    background-color: whitesmoke;
    color: rgb(161, 165, 183);
    display: flex;
    font-size: 0.8rem;
    font-weight: 600;
    height: 100%;
    padding: 1rem 0.7rem;
    position: relative;
    text-transform: uppercase;
    top: 0;
    text-align: left;
    &--checkbox-align {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
}

.c-form__form-row:nth-child(even) .c-form__form-cell {
    background-color: #f1f1f1;
}