.c-delete-section {
    display: flex;
    flex-direction: row;
    &__text {
        font-size: 0.85rem;
        font-weight: 500;
        align-self: center;
        margin: 0;
        padding-right: 1rem;
    }
}

.c-delete-button {
    padding: 0.75rem 1rem;
    background-color: rgb(255, 74, 119);
    border-radius: 5px;
    text-decoration: none;
    align-self: center;
    color: white;
    font-weight: 500;
    &:hover {
        background-color: rgb(235, 48, 95);
    }
}