.c-grey-bold-xfont {
    align-items: center;
    color: rgb(138, 142, 156);
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 0rem;
    white-space: pre-wrap;
    &--black {
        margin-top: 0.5rem;
        color: black;
        text-transform: none;
        margin-bottom: 0rem;
    }
}

.c-grey-badge {
    align-self: center;
    border-radius: 5px;
    background-color: rgba(99, 99, 99, 0.075);
    color: rgb(138, 142, 156);
    font-size: 90%;
    font-weight: 600;
    padding: 0.4rem;
    width: fit-content;
    margin-left: calc(1rem - 11.2px);
    text-transform: uppercase;
    &--green {
        background-color: rgb(215, 248, 231);
        color: rgb(72, 206, 155);
        height: fit-content;
    }
    &--small {
        font-size: 80%;
    }
}