.c-form {
    background-color: rgba(255, 255, 255, 0.89);
    border-radius: 7px;
    color: rgb(51, 51, 51);
    font-size: 0.9rem;
    font-weight: 500;
    padding: 2rem;
    max-width: 40rem;
    width: 100%;
    &__heading {
        border-bottom: 1px solid rgb(182, 182, 182);
        font-size: 150%;
        font-weight: 600;
    }
    &__title {
        margin-bottom: 0.5rem;
        font-weight: 600;
        &--subsidiary {
            color: grey;
            margin: 0rem;
            font-weight: 400;
        }
    }
    &__content {
        padding: 2rem;
    }
    &__section {
        &--center {
            text-align: center;
        }
    }
    &__avatar-thumbnail {
        width: 7rem;
        border: 3px white solid;
        border-radius: 5px;
    }
    &__avatar {
        padding-bottom: 0.75rem;
    }
    &__caption-text {
        width: fit-content;
        color: rgb(165, 165, 165);
        padding-top: 0.5rem;
        font-size: 80%;
        outline: none;
        margin: 0rem;
    }
    &__cell {
        display: flex;
        flex-direction: row;
    }
    &__value {
        padding: 1rem;
    }
    &__group {
        border-bottom: 3px solid blue;
    }
    &__row {
        margin-bottom: 2rem;
    }
    &__cell-row {
        background-color: rgba(11, 255, 243, 0.644);
    }
}

.c-form__section:not(:last-child) {
    margin-bottom: 2.5rem;
}

.c-form__cell:not(:last-child) {
    border-bottom: 0.75px dashed lightgrey;
}