.c-grille {
    background-color: rgba(255, 255, 255, 0.89);
    border-radius: 7px;
    color: rgb(51, 51, 51);
    font-size: 0.9rem;
    font-weight: 500;
    padding: 2rem;
    width: 100%;
    &__group {
        border-bottom: 3px solid blue;
    }
    &__row {
        margin-bottom: 2rem;
    }
    &__cell {
        background-color: rgba(11, 255, 243, 0.644);
    }
}