.c-input-search-btn {
    position: absolute;
    width: 8%;
    height: 70%;
    top: 0.7rem;
    right: 0.55rem;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Magnifying_glass_icon.svg/1200px-Magnifying_glass_icon.svg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: none;
    border-radius: 0px;
}

.c-input-search-btn::-ms-clear {
    display: none;
}