.c-input {
    padding: 0.75rem;
    padding-right: 2.5rem;
    border-radius: 5px;
    border: 0px solid grey;
    background-color: rgb(245, 248, 250);
    &:hover {
        background-color: rgb(233, 238, 243);
    }
    &--100 {
        width: 100%;
    }
}