.c-link {
    color: rgb(107, 107, 107);
    text-decoration: none;
    font-size: 0.8rem;
    padding: 0.7rem;
    font-weight: 500;
    align-self: center;
    &:hover {
        color: rgb(46, 186, 248);
        background-color: rgba(206, 239, 245, 0.699);
        border-radius: 5px;
    }
}