@use "settings/grid";

.c-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  &__content {
    height: 100%;
    background-color: rgb(245, 248, 250);
    padding: grid.$gap-large grid.$gap-xlarge;
  }
}
