.c-menu-button {
    align-items: center;
    align-self: center;
    background-color: rgba(99, 99, 99, 0.075);
    border-radius: 5px;
    color: grey;
    display: inline-flex;
    height: fit-content;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 0.7rem;
    font-weight: 500;
    &:hover {
        color: rgb(46, 186, 248);
        background-color: rgba(206, 239, 245, 0.699);
        border-radius: 5px;
    }
    &__ico {
        margin-left: 0.25em;
        transform: rotate(90deg);
    }
}