.scrollToTopBtn {
    background-color: rgb(0, 142, 224);
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    line-height: 48px;
    height: 48px;
    position: fixed;
    bottom: 20px;
    padding: 0rem 1rem;
    right: 10px;
    z-index: 100;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.75s ease;
}

.showBtn {
    opacity: 1;
    transform: translateY(0);
}