.c-site-numbering {
    display: flex;
    flex-direction: row;
    width: fit-content;
    float: right;
    padding-right: 2rem;
    &__arrow {
        display: flex;
        margin: 0rem 0.7rem;
        align-self: center;
        vertical-align: top !important;
        &--rotate {
            transform: rotateY(180deg);
        }
    }
    &__numbers {
        margin-left: 0.25rem;
        font-size: 0.9rem;
        width: 2rem;
        text-align: center;
        padding: 0.5rem;
        text-decoration: none;
        align-self: center;
        border-radius: 5px;
        color: black;
        &:hover {
            background-color: rgb(241, 250, 255);
            color: rgb(75, 195, 251);
        }
        &--num-checked {
            background-color: rgb(0, 158, 247);
            color: white;
        }
    }
}