.c-status {
  font-size: 0.9rem;
  padding: 0.5rem;
  margin: 0;
  font-weight: bold;
  border-radius: 5px;
  background-color: rgb(248, 203, 203);
  color: rgb(245, 33, 33);
  &--blue {
    background-color: rgb(203, 232, 248);
    color: rgb(0, 158, 247);
  }
  &--grey {
    background-color: rgb(214, 214, 214);
    color: rgb(126, 130, 153);
  }
  &--green {
    background-color: rgb(232, 255, 243);
    color: rgb(68, 170, 131);
  }
  &--red {
    background-color: rgb(245, 199, 213);
    color: rgb(242, 81, 108);
  }
}
