.u-text-small {
    font-size: clamp(0.5rem, 1.3vh, 1rem);
}

.u-text-medium {
    font-size: clamp(0.7rem, 1.2vh, 1rem);
}

.u-text-large {
    font-size: clamp(0.4rem, 1.5vh, 1rem);
}

.u-text-xlarge {
    font-size: clamp(0.8rem, 1.7vh, 1.2rem);
}

.u-text-black {
    color: black;
    margin: 0;
}