@use 'settings/grid.scss';
.o-grid {
    display: grid;
    gap: grid.$gap grid.$gap;
    grid-template-rows: auto;
    &--2 {
        grid-template-columns: 1fr 1fr;
    }
    &--3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
    &--4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    &--5 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    &--6 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    &--7 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    &--8 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    &--9 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    &--10 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    &--11 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    &__item {}
}