@use "sass:math";

$_gap-default: 1em;

$gap-xsmall: math.div($_gap-default, 4);
$gap-small: math.div($_gap-default, 2);
$gap: $_gap-default;
$gap-large: ($_gap-default * 1.5);
$gap-xlarge: ($_gap-default * 3);
