<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<link rel="preconnect" href="https://fonts.googleapis.com"/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&family=Nunito:wght@200;300;400;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>


		<link rel="stylesheet" href="styles/index.css"/>
		<link rel="stylesheet" href="scripts/index.js">
		<title>SKY-CMS</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
	</head>
	<body>
		<div class="c-body">
			<div class="c-aside">
				<div class="c-aside__content">
					<p class="c-side__link-text">Dasboard</p>
					<ul>
						<li class="c-side__item">
							<svg class="svg-icon " width="24" height="24">
								<use xlink:href="imgs/icons.svg#bars#2"></use>
							</svg>
							<a href="user-list.html" class="c-side__link">User list</a>
							<button class="o-button-arrow c-side__button-arrow">
								<svg class="" width="12" height="12">
									<use xlink:href="imgs/icons.svg#arrow"></use>
								</svg>
							</button>
						</li>
						<li class="c-side__item">
							<svg class="svg-icon " width="24" height="24">
								<use xlink:href="imgs/icons.svg#bars#2"></use>
							</svg>
							<a href="product-list.html" class="c-side__link">Product List</a>
							<button class="o-button-arrow c-side__button-arrow">
								<svg class="" width="12" height="12">
									<use xlink:href="imgs/icons.svg#arrow"></use>
								</svg>
							</button>
						</li>
						<li class="c-side__item">
							<svg class="svg-icon " width="24" height="24">
								<use xlink:href="imgs/icons.svg#bars#2"></use>
							</svg>
							<a href="form.html" class="c-side__link">Form</a>
							<button class="o-button-arrow c-side__button-arrow">
								<svg class="" width="12" height="12">
									<use xlink:href="imgs/icons.svg#arrow"></use>
								</svg>
							</button>
						</li>
					</ul>
					<p class="c-side__link-text">Crafted</p>
					<ul>
						<li class="c-side__item" data-dropdown="d1">
							<div class="o-flex-column">
								<div class="c-side__dropdown-link">
									<svg class="svg-icon " width="24" height="24">
										<use xlink:href="imgs/icons.svg#bars#2"></use>
									</svg>
									<a href="grille.html" class="c-side__link">Grille</a>
									<button class="o-button-arrow c-side__button-arrow">
										<svg class="" width="12" height="12">
											<use xlink:href="imgs/icons.svg#arrow"></use>
										</svg>
									</button>
								</div>
								<div class="c-side__dropdown-menu">
									<div id="d1">
										<ul>
											<li class="c-side__link c-side__link--dropdown">
												<a href="" class="c-side__link">Page</a>
											</li>
											<li class="c-side__link c-side__link--dropdown">
												<a href="" class="c-side__link">Page</a>
											</li>
											<li class="c-side__link c-side__link--dropdown">
												<a href="" class="c-side__link">Page</a>
											</li>
										</ul>

									</div>
								</div>
							</li>
						</li>
					</ul>
					<p class="c-side__link-text">Demo</p>
					<ul>
						<li class="c-side__item">
							<svg class="svg-icon " width="24" height="24">
								<use xlink:href="imgs/icons.svg#bars#2"></use>
							</svg>
							<a href="" class="c-side__link">Pages</a>
							<button class="o-button-arrow c-side__button-arrow">
								<svg class="" width="12" height="12">
									<use xlink:href="imgs/icons.svg#arrow"></use>
								</svg>
							</button>
						</li>
						<li class="c-side__item">
							<svg class="svg-icon " width="24" height="24">
								<use xlink:href="imgs/icons.svg#bars#2"></use>
							</svg>
							<a href="" class="c-side__link">Pages</a>
							<button class="o-button-arrow c-side__button-arrow">
								<svg class="" width="12" height="12">
									<use xlink:href="imgs/icons.svg#arrow"></use>
								</svg>
							</button>
						</li>
						<li class="c-side__item">
							<svg class="svg-icon " width="24" height="24">
								<use xlink:href="imgs/icons.svg#bars#2"></use>
							</svg>
							<a href="" class="c-side__link">Pages</a>
							<button class="o-button-arrow c-side__button-arrow">
								<svg class="" width="12" height="12">
									<use xlink:href="imgs/icons.svg#arrow"></use>
								</svg>
							</button>
						</li>
					</ul>
				</div>
			</div>

			<div class="c-main">
				<div class="c-nav">
					<div class="o-space-between">
						<ul class="o-inline-list">
							<li class="o-inline-list__item">
								<a href="" class="c-link o-button">Dashboard</a>
							</li>
							<li class="o-inline-list__item">
								<a href="" class="c-link o-button">Crafted</a>
							</li>
							<li class="o-inline-list__item">
								<a href="" class="c-link o-button">Apps</a>
							</li>
							<li class="o-inline-list__item">
								<a href="" class="c-link o-button">Layouts</a>
							</li>
							<li class="o-inline-list__item">
								<a href="" class="c-link o-button">Resources</a>
							</li>
							<li class="o-inline-list__item">
								<a href="" class="c-link o-button">Mega Menu</a>
							</li>
						</ul>
						<ul class="o-inline-list">
							<li class="o-inline-list__item o-inline-list__item--padded">
								<span class="svg-icon svg-icon-1">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
										<use xlink:href="imgs/icons.svg#bars"></use>
									</svg>
								</span>
							</li>
							<li class="o-inline-list__item o-inline-list__item--padded">
								<span class="svg-icon svg-icon-1">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
										<use xlink:href="imgs/icons.svg#bars"></use>
									</svg>
								</span>
							</li>
						</li>
						<li class="o-inline-list__item o-inline-list__item--padded">
							<span class="svg-icon svg-icon-1">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
									<use xlink:href="imgs/icons.svg#bars"></use>
								</svg>
							</span>
						</li>
						<li class="o-inline-list__item o-inline-list__item--padded">
							<span class="svg-icon svg-icon-1">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
									<use xlink:href="imgs/icons.svg#bars"></use>
								</svg>
							</span>
						</li>
						<li class="o-inline-list__item o-inline-list__item--padded">
							<span class="svg-icon svg-icon-1">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
									<use xlink:href="imgs/icons.svg#bars"></use>
								</svg>
							</span>
						</li>
						<li class="o-inline-list__item ">
							<img src="https://preview.keenthemes.com/metronic8/demo1/assets/media/avatars/150-26.jpg" class=" c-avatars c-avatars--square" alt="">
						</li>
					</ul>
				</ul>
			</div>
		</div>
		<div class="c-main__content"> {% block body %}{% endblock %}

			</div>
		</body>
	</html>
</div></div><script src="scripts/index.js"></script></body></html>
