<div class="c-card">
	<div class="c-card__top">
		<div class="c-avatar">
			<img class="c-avatar__pic" src="https://preview.keenthemes.com/metronic8/demo1/assets/media/svg/brand-logos/plurk.svg" alt="">
		</div>
		<span class="c-status c-status--blue">In Progress</span>
	</div>
	<div class="c-card__main">
		<h1 class="c-card__title">Fitness App</h1>
		<p class="c-card__description">CRM App application to HR efficiency</P>
		<div class="c-badges">
			<div class="c-badge">
				<p class="c-badge__title">Jul 25, 2021</p>
				<p class="c-badge__description">Due Date</p>
			</div>
			<div class="c-badge">
				<p class="c-badge__title">$284,900.00</p>
				<p class="c-badge__description">Budget</p>
			</div>
		</div>
		<div class="c-line-space">
			<div class="c-bar">
				<div class="c-bar__background c-bar__background--80"></div>
			</div>
		</div>
		<div class="c-card__avatars">
			<div class="c-avatars">
				<img src="https://preview.keenthemes.com/metronic8/demo1/assets/media/avatars/150-1.jpg" class="c-avatars__pic" alt="Avatar">
				<img src="https://preview.keenthemes.com/metronic8/demo1/assets/media/avatars/150-2.jpg" class="c-avatars__pic" alt="Avatar">
				<img src="https://preview.keenthemes.com/metronic8/demo1/assets/media/avatars/150-3.jpg" class="c-avatars__pic" alt="Avatar">
			</div>
		</div>
	</div>
</div>
