{% extends "_base.twig" %}
{% block body %}
	<div class="c-form">
		<div class="c-form__heading">
			<p>Add User</p>
		</div>
		<div class="c-form__content">
			<div class="c-form__section">
				<p class="c-form__title">Avatar</p>
				<img class="c-form__avatar-thumbnail" src="https://preview.keenthemes.com/metronic8/demo1/assets/media/avatars/150-1.jpg" alt="">
				<p class="c-form__caption-text ">Allowed file types: png, jpg, jpeg.
				</p>
			</div>
			<div class="c-form__section">
				<p class="c-form__title">Full Name</p>
				<input class="c-input" type="text" placeholder="Emmam Smith">
			</div>
			<div class="c-form__section">
				<p class="c-form__title">Email</p>
				<input class="c-input" type="text" placeholder="e.smith@kpmg.com.au">
				<p class="c-form__caption-text ">Allowed file types: png, jpg, jpeg.</p>
			</div>
			<div class="c-form__section">
				<p class="c-form__title">Role</p>
				<div class="c-form__cell">
					<input type="checkbox" name="" class="c-checkbox">
					<div class="c-form__value">
						<p class="c-form__title">Administrator</p>
						<p class="c-form__title c-form__title--subsidiary">Best for business owners and company administrators</p>
					</div>
				</div>
				<div class="c-form__cell">
					<input type="checkbox" name="" class="c-checkbox">
					<div class="c-form__value">
						<p class="c-form__title">Administrator</p>
						<p class="c-form__title c-form__title--subsidiary">Best for business owners and company administrators business business business business</p>
					</div>
				</div>
				<div class="c-form__cell">
					<input type="checkbox" name="" class="c-checkbox c-checkbox--circle">
					<div class="c-form__value">
						<p class="c-form__title">Administrator</p>
						<p class="c-form__title c-form__title--subsidiary">Best for business owners and company administrators</p>
					</div>
				</div>
				<div class="c-form__cell">
					<input type="checkbox" name="" class="c-checkbox c-checkbox--circle">
					<div class="c-form__value">
						<p class="c-form__title">Administrator</p>
						<p class="c-form__title c-form__title--subsidiary">Best for business owners and company administrators</p>
					</div>
				</div>
			</div>
			<div class="c-form__section c-form__section--center">
				<a href="" class="c-button c-button--grey o-button">Discard</a>
				<a href="" class="c-button o-button">Submit</a>
			</div>
		</div>
	{% endblock %}
