{% extends "_base.twig" %}
{% block body %}
	<div class="c-form">
		<div class="c-form__group">
			<div class="c-form__row o-grid o-grid--3">
				<div class="c-form__cell-row">
					<label class="c-form__title" for="name">Full Name</label>
					<input id="name" class="c-input c-input--100" type="text" placeholder="Emmam Smith">
				</div>
				<div class="c-form__cell-row">
					<p class="c-form__title">Full Name</p>
					<input id="name-2" class="c-input c-input--100" type="text" placeholder="Emmam Smith">
					<p class="c-form__caption-text ">Allowed file types: png, jpg, jpeg.</p>
				</div>
				<div class="c-form__cell-row">
					<p class="c-form__title">Full Name</p>
					<input class="c-input c-input--100" type="text" placeholder="Emmam Smith">
				</div>
				<div class="c-form__cell-row">
					<p class="c-form__title">Full Name</p>
					<input class="c-input c-input--100" type="text" placeholder="Emmam Smith">
				</div>
			</div>
		</div>
		<div class="c-form__group">
			<div class="c-form__row o-grid o-grid--2">
				<div class="c-form__cell-row">
					<p class="c-form__title">Full Name</p>
					<input class="c-input c-input--100" type="text" placeholder="Emmam Smith">
					<p class="c-form__caption-text ">Allowed file types: png, jpg, jpeg.</p>
				</div>
				<div class="c-form__cell-row">
					<p class="c-form__title">Full Name</p>
					<input class="c-input c-input--100" type="text" placeholder="Emmam Smith">
				</div>
			</div>
			<div class="c-form__row o-grid o-grid--1">
				<div class="c-form__cell-row">
					<p class="c-form__title">Full Name</p>
					<input class="c-input c-input--100" type="text" placeholder="Emmam Smith">
				</div>
				<div class="c-form__cell-row">
					<p class="c-form__title">Full Name</p>
					<input class="c-input c-input--100" type="text" placeholder="Emmam Smith">
					<p class="c-form__caption-text ">Allowed file types: png, jpg, jpeg.</p>
				</div>
			</div>
		</div>
		<div class="c-form__group">
			<div class="c-form__row o-grid o-grid--4">
				<div class="c-form__cell-row">
					<p class="c-form__title">Full Name</p>
					<input class="c-input c-input--100" type="text" placeholder="Emmam Smith">
					<p class="c-form__caption-text ">Allowed file types: png, jpg, jpeg.</p>
				</div>
				<div class="c-form__cell-row">
					<p class="c-form__title">Full Name</p>
					<input class="c-input c-input--100" type="text" placeholder="Emmam Smith">
				</div>
				<div class="c-form__cell-row">
					<p class="c-form__title">Full Name</p>
					<input class="c-input c-input--100" type="text" placeholder="Emmam Smith">
				</div>
				<div class="c-form__cell-row">
					<p class="c-form__title">Full Name</p>
					<input class="c-input c-input--100" type="text" placeholder="Emmam Smith">
				</div>
				<div class="c-form__cell-row">
					<p class="c-form__title">Full Name</p>
					<input class="c-input c-input--100" type="text" placeholder="Emmam Smith">
				</div>
				<div class="c-form__cell-row">
					<p class="c-form__title">Full Name</p>
					<input class="c-input c-input--100" type="text" placeholder="Emmam Smith">
					<p class="c-form__caption-text ">Allowed file types: png, jpg, jpeg.</p>
				</div>
				<div class="c-form__cell-row">
					<p class="c-form__title">Full Name</p>
					<input class="c-input c-input--100" type="text" placeholder="Emmam Smith">
				</div>
				<div class="c-form__cell-row">
					<p class="c-form__title">Full Name</p>
					<input class="c-input c-input--100" type="text" placeholder="Emmam Smith">
				</div>
			</div>
			<div class="c-form__row o-grid o-grid--1">
				<div class="c-form__cell-row">
					<p class="c-form__title">Full Name</p>
					<input class="c-input c-input--100" type="text" placeholder="Emmam Smith">
					<p class="c-form__caption-text ">Allowed file types: png, jpg, jpeg.</p>
				</div>
			</div>
			<div class="c-form__row o-grid o-grid--2">
				<div class="c-form__cell-row">
					<p class="c-form__title">Full Name</p>
					<input class="c-input c-input--100" type="text" placeholder="Emmam Smith">
				</div>
				<div class="c-form__cell-row">
					<p class="c-form__title">Full Name</p>
					<input class="c-input c-input--100" type="text" placeholder="Emmam Smith">
					<p class="c-form__caption-text ">Allowed file types: png, jpg, jpeg.</p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
