{% extends "_base.twig" %}
{% block body %}
	<div class="o-grid o-grid--3">
		<div class="o-grid__item">
			{% include '_card.twig' %}
		</div>
		<div class="o-grid__item">
			{% include '_card.twig' %}
		</div>
		<div class="o-grid__item">
			{% include '_card.twig' %}
		</div>
		<div class="o-grid__item">
			{% include '_card.twig' %}
		</div>
		<div class="o-grid__item">
			{% include '_card.twig' %}
		</div>
	</div>
{% endblock %}
