{% extends "_base.twig" %}
{% block body %}
	<div class="c-list-user">
		<div class="c-nav c-nav--list ">
			<table class="c-data-table c-data-table--product-list">
				<thead class="c-data-table__head">
					<tr class="c-data-table__row">
						<th class="c-data-table__head-title c-data-table__head-title--checkbox-align ">
							<input type="checkbox" name="" class="c-checkbox ">
						</th>
						<th class="c-data-table__head-title">ID</th>

						<th class="c-data-table__head-title">Foto</th>
						<th class="c-data-table__head-title">Název</th>
						<th class="c-data-table__head-title">Kod</th>
						<th class="c-data-table__head-title">EAN</th>
						<th class="c-data-table__head-title">Dostupnost</th>
						<th class="c-data-table__head-title">Cena</th>
						<th class="c-data-table__head-title">actions</th>
					</tr>
				</thead>
				<tbody class="c-data-table__body">
					<tr class="c-data-table__row">
						<td class="c-data-table__body-cell c-data-table__body-cell--checkbox-center ">
							<input type="checkbox" name="" class="c-checkbox">
						</td>
						<td class="c-data-table__body-cell c-data-table__body-cell--small-font">151681</td>
						<td class="c-data-table__body-cell c-data-table__body-cell--0-pad">
							<div class="c-data-table__avatar">
								<img src="https://images.philips.com/is/image/PhilipsConsumer/55OLED855_12-IMS-cs_CZ?$jpglarge$&wid=960" alt="" class="o-image o-image--thumbnail">
							</div>
						</td>
						<td class="c-data-table__body-cell c-data-table__body-cell--small-font">
							<div class="o-reset-flex">
								<p class="c-data-table__body-value">Philips 650LED806/12 OLED 4K televize. 5 LET ZÁRUKA</p>
								<p class="c-data-table__body-value c-data-table__body-value--xsmall-font">/philips-65oled806-12-oled-televizor</p>
							</div>
						</td>

						<td class="c-data-table__body-cell c-data-table__body-cell--small-font">128745982354
						</td>

						<td class="c-data-table__body-cell c-data-table__body-cell--small-font">128745982354654</td>
						<td class="c-data-table__body-cell">
							<span class="c-grey-badge c-grey-badge--small">Již nelze koupit</span>
						</td>
						<td class="c-data-table__body-cell c-data-table__body-cell--small-font">
							<div>
								<p class="c-data-table__body-value">60 850,90 kč</p>
								<p class="c-data-table__body-value c-data-table__body-value--xsmall-font">60 420,90 kč</p>
							</div>
						</td>

						<td class="c-data-table__body-cell">
							<a href="" class="c-menu-button o-button">
								Actions
								<svg class="c-menu-button__ico" width="12" height="12">
									<use xlink:href="imgs/icons.svg#arrow"></use>
								</svg>
							</a>
						</td>
					</tr>

					<tr class="c-data-table__row">
						<td class="c-data-table__body-cell c-data-table__body-cell--checkbox-center ">
							<input type="checkbox" name="" class="c-checkbox">
						</td>
						<td class="c-data-table__body-cell c-data-table__body-cell--small-font">151681</td>
						<td class="c-data-table__body-cell c-data-table__body-cell--0-pad">
							<div class="c-data-table__avatar">
								<img src="https://images.philips.com/is/image/PhilipsConsumer/65OLED973_12-IMS-cs_CZ?$jpglarge$&wid=960" alt="" class="o-image o-image--thumbnail">
							</div>
						</td>
						<td class="c-data-table__body-cell c-data-table__body-cell--small-font">
							<div class="o-reset-flex">
								<p class="c-data-table__body-value">Philips 650LED806/12 OLED 4K televize. 5 LET ZÁRUKA</p>
								<p class="c-data-table__body-value c-data-table__body-value--xsmall-font">/philips-65oled806-12-oled-televizor</p>
							</div>
						</td>

						<td class="c-data-table__body-cell c-data-table__body-cell--small-font">128745982354
						</td>

						<td class="c-data-table__body-cell c-data-table__body-cell--small-font">128745982354654</td>
						<td class="c-data-table__body-cell">
							<span class="c-grey-badge c-grey-badge--green c-grey-badge--small">skladem</span>
						</td>
						<td class="c-data-table__body-cell c-data-table__body-cell--small-font">
							<div>
								<p class="c-data-table__body-value">60 850,90 kč</p>
								<p class="c-data-table__body-value c-data-table__body-value--xsmall-font">60 420,90 kč</p>
							</div>
						</td>

						<td class="c-data-table__body-cell">
							<a href="" class="c-menu-button o-button">
								Actions
								<svg class="c-menu-button__ico" width="12" height="12">
									<use xlink:href="imgs/icons.svg#arrow"></use>
								</svg>
							</a>
						</td>
					</tr>
					<tr class="c-data-table__row">
						<td class="c-data-table__body-cell c-data-table__body-cell--checkbox-center ">
							<input type="checkbox" name="" class="c-checkbox">
						</td>
						<td class="c-data-table__body-cell c-data-table__body-cell--small-font">151681</td>
						<td class="c-data-table__body-cell c-data-table__body-cell--0-pad">
							<div class="c-data-table__avatar">
								<img src="https://images.philips.com/is/image/PhilipsConsumer/55OLED805_12-RCP-global-001?$jpglarge$&wid=960" alt="" class="o-image o-image--thumbnail">
							</div>
						</td>
						<td class="c-data-table__body-cell c-data-table__body-cell--small-font">
							<div class="o-reset-flex">
								<p class="c-data-table__body-value">abcdefghijklmnopqrstuvwxyz</p>
								<p class="c-data-table__body-value c-data-table__body-value--xsmall-font">/philips-65oled806-12-oled-televizor</p>
							</div>
						</td>

						<td class="c-data-table__body-cell c-data-table__body-cell--small-font">128745982354
						</td>

						<td class="c-data-table__body-cell c-data-table__body-cell--small-font">128745982354654</td>
						<td class="c-data-table__body-cell">
							<span class="c-grey-badge c-grey-badge--green c-grey-badge--small">skladem</span>
						</td>
						<td class="c-data-table__body-cell c-data-table__body-cell--small-font">
							<div>
								<p class="c-data-table__body-value">60 850,90 kč</p>
								<p class="c-data-table__body-value c-data-table__body-value--xsmall-font">60 420,90 kč</p>
							</div>
						</td>

						<td class="c-data-table__body-cell">
							<a href="" class="c-menu-button o-button">
								Actions
								<svg class="c-menu-button__ico" width="12" height="12">
									<use xlink:href="imgs/icons.svg#arrow"></use>
								</svg>
							</a>
						</td>
					</tr>
					<tr class="c-data-table__row">
						<td class="c-data-table__body-cell c-data-table__body-cell--checkbox-center ">
							<input type="checkbox" name="" class="c-checkbox">
						</td>
						<td class="c-data-table__body-cell c-data-table__body-cell--small-font">151681</td>
						<td class="c-data-table__body-cell c-data-table__body-cell--0-pad">
							<div class="c-data-table__avatar">
								<img src="https://images.philips.com/is/image/PhilipsConsumer/55OLED854_12-MI1-global-001?$jpglarge$&wid=1250">
							</div>
						</td>
						<td class="c-data-table__body-cell c-data-table__body-cell--small-font">
							<div class="o-reset-flex">
								<p class="c-data-table__body-value">abcdefghijklmnopqrstuvwxyz</p>
								<p class="c-data-table__body-value c-data-table__body-value--xsmall-font">/philips-65oled806-12-oled-televizor</p>
							</div>
						</td>

						<td class="c-data-table__body-cell c-data-table__body-cell--small-font">128745982354
						</td>

						<td class="c-data-table__body-cell c-data-table__body-cell--small-font">128745982354654</td>
						<td class="c-data-table__body-cell">
							<span class="c-grey-badge c-grey-badge--green c-grey-badge--small">skladem</span>
						</td>
						<td class="c-data-table__body-cell c-data-table__body-cell--small-font">
							<div>
								<p class="c-data-table__body-value">60 850,90 kč</p>
								<p class="c-data-table__body-value c-data-table__body-value--xsmall-font">60 420,90 kč</p>
							</div>
						</td>

						<td class="c-data-table__body-cell">
							<a href="" class="c-menu-button o-button">
								Actions
								<svg class="c-menu-button__ico" width="12" height="12">
									<use xlink:href="imgs/icons.svg#arrow"></use>
								</svg>
							</a>
						</td>
					</tr>
					<tr class="c-data-table__row">
						<td class="c-data-table__body-cell c-data-table__body-cell--checkbox-center ">
							<input type="checkbox" name="" class="c-checkbox">
						</td>
						<td class="c-data-table__body-cell c-data-table__body-cell--small-font">151681</td>
						<td class="c-data-table__body-cell c-data-table__body-cell--0-pad">
							<div class="c-data-table__avatar">
								<img src="https://d25-a.sdn.cz/d_25/c_img_gT_2/pQlw7y.jpeg?fl=res%2C350%2C350%2C1%7Cwebp%2C80" alt="" class="o-image o-image--thumbnail">
							</div>
						</td>
						<td class="c-data-table__body-cell c-data-table__body-cell--small-font">
							<div class="o-reset-flex">
								<p class="c-data-table__body-value">Philips 650LED806/12 OLED 4K televize. 5 LET ZÁRUKA</p>
								<p class="c-data-table__body-value c-data-table__body-value--xsmall-font">/philips-65oled806-12-oled-televizor</p>
							</div>
						</td>

						<td class="c-data-table__body-cell c-data-table__body-cell--small-font">128745982354
						</td>

						<td class="c-data-table__body-cell c-data-table__body-cell--small-font">128745982354654</td>
						<td class="c-data-table__body-cell">
							<span class="c-grey-badge c-grey-badge--small">Již nelze koupit</span>
						</td>
						<td class="c-data-table__body-cell c-data-table__body-cell--small-font">
							<div>
								<p class="c-data-table__body-value">60 850,90 kč</p>
								<p class="c-data-table__body-value c-data-table__body-value--xsmall-font">60 420,90 kč</p>
							</div>
						</td>

						<td class="c-data-table__body-cell">
							<a href="" class="c-menu-button o-button">
								Actions
								<svg class="c-menu-button__ico" width="12" height="12">
									<use xlink:href="imgs/icons.svg#arrow"></use>
								</svg>
							</a>
						</td>
					</tr>
				</tbody>
			</div>
		</div>
	{% endblock %}
