{% extends "_base.twig" %}
{% block body %}

	<div class="c-list-user">
		<div class="c-nav c-nav--list o-space-between">
			<div class="">
				<div class="c-nav-input">
					<a href="" class="o-button c-input-search-btn"></a>
					<input type="search" placeholder="Search user" class="c-input">

				</div>
			</div>
			<div class="c-delete-section">
				<p class="c-delete-section__text">1 Selected</p>
				<a href="" class="c-delete-button o-button">Delete Selected</a>
			</div>
			<div class="o-nav-button">
				<button href="" class="c-button c-button--light c-button--filter o-button">
					<svg class="svg-icon " width="18" height="18">
						<use xlink:href="imgs/icons.svg#filter"></use>
					</svg>Filter</button>
				<a href="" class="c-button c-button--light c-button--export o-button">
					<svg class="svg-icon " width="18" height="18">
						<use xlink:href="imgs/icons.svg#export" style="fill: currentColor;"></use>
					</svg>Export</a>
				<button href="" class="c-button c-button--plus o-button">
					<svg class="svg-icon " width="18" height="18">
						<use xlink:href="imgs/icons.svg#plus"></use>
					</svg>Add User</button>
			</div>
		</div>
		<table class="c-data-table c-data-table--user-list">
			<thead class="c-data-table__head">
				<tr class="c-data-table__row">
					<th class="c-data-table__head-title c-data-table__head-title--checkbox-align ">
						<input type="checkbox" name="" class="c-checkbox ">
					</th>
					<th class="c-data-table__head-title">user</th>
					<th class="c-data-table__head-title">role</th>
					<th class="c-data-table__head-title">last login</th>
					<th class="c-data-table__head-title">two-step</th>
					<th class="c-data-table__head-title">joined date</th>
					<th class="c-data-table__head-title">actions</th>
				</tr>
			</thead>
			<tbody class="c-data-table__body">
				<tr class="c-data-table__row">
					<td class="c-data-table__body-cell c-data-table__body-cell--checkbox-center ">
						<input type="checkbox" name="" class="c-checkbox">
					</td>
					<td class="c-data-table__body-cell">
						<div class="u-margin-right">
							<span class="c-avatar c-avatar--letter">M</span>
						</div>
						<div>
							<p class="o-margin-bottom-0">Lani</p>
							<p class="c-grey-bold-xfont--black">e.smith@kpmg.com.au</p>
						</div>
					</td>
					<td class="c-data-table__body-cell">Ovendale</td>
					<td class="c-data-table__body-cell">
						<span class="c-grey-badge">20 min ago</span>
					</td>
					<td class="c-data-table__body-cell"></td>
					<td class="c-data-table__body-cell">25 Jul 2021, 5:30 pm
					</td>
					<td class="c-data-table__body-cell c-data-table__body-cell--right-align">
						<a href="" class="c-menu-button c-link">Actions</a>
					</td>
				</tr>
				{% for row in 0..8 %}
					<tr class="c-data-table__row">
						<td class="c-data-table__body-cell c-data-table__body-cell--checkbox-center ">
							<input type="checkbox" name="" class="c-checkbox">
						</td>
						<td class="c-data-table__body-cell">
							<div class="u-margin-right">
								<img class="c-avatar c-avatar--circle" src="https://news-cdn.softpedia.com/images/fitted/340x180/ubisoft-reveals-first-person-action-adventure-avatar-frontiers-of-pandora.jpg" alt=""></div>
							<div>
								<p class="o-margin-bottom-0">Avatarka</p>
								<p class="c-grey-bold-xfont--black">e.smith@kpmg.com.au</p>
							</div>
						</td>
						<td class="c-data-table__body-cell">Ovendale</td>
						<td class="c-data-table__body-cell">
							<span class="c-grey-badge">20 min ago</span>
						</td>
						<td class="c-data-table__body-cell">
							<span class="c-grey-badge c-grey-badge--green">enabled</span>
						</td>
						<td class="c-data-table__body-cell">25 Jul 2021, 5:30 pm
						</td>
						<td class="c-data-table__body-cell c-data-table__body-cell--right-align">
							<a href="" class="c-menu-button c-link">
								<span class="">Actions</span>
							</a>
						</td>
					</tr>
				{% endfor %}
				<div class="c-list-content">
					<div class="c-data-table"></div>
				</div>
			</tbody>
		</table>
		<div class="c-site-numbering">
			<a href="" class="c-site-numbering__arrow c-site-numbering__arrow--rotate">
				<svg class="svg-icon c-numbering-cells__arrow-loc" width="15" height="15">
					<use xlink:href="imgs/icons.svg#arrow-black"></use>
				</svg>
			</a>
			<a href="" class="c-site-numbering__numbers c-site-numbering__numbers--num-checked">1</a>
			<a href="" class="c-site-numbering__numbers">2</a>
			<a href="" class="c-site-numbering__numbers">3</a>
			<a href="" class="c-site-numbering__arrow">
				<svg class="svg-icon c-numbering-cells__arrow-loc " width="15" height="15">
					<use xlink:href="imgs/icons.svg#arrow-black"></use>
				</svg>
			</a>

		</div>
		<button class="scrollToTopBtn">⬆</button>
	</div>
	<div class="c-list__content"></div>
</div>{% endblock %}
